# Environments
.env
.env.*
!.env.example
!.env.template

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/
.output/
.vercel/

# Databases & Caches
dump.rdb
*.sqlite
*.sqlite3
.redis/

# OS Files
.DS_Store
Thumbs.db
